.header { 
    
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DABFFF;
    background-color: #907AD6;
    .header-column {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo {

        display: flex;
        align-items: center;

        gap: 10px;
        img {
            width: 80px;
            height: 80px;
            object-fit: cover;

        }
        .fonte {
        }
        
    }
}